        <div class="login-success-screen">
            <h2 class="success <%= logged ? '': 'disabled' %>">Login successful !!!</h2>
            <h2 class="failure <%= logged ? 'disabled': '' %>">Something went wrong !!!</h2>
            <a href="#" class="link-back">go to the home page</a>
        </div>